<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">

    <persistence-unit name="hymnsUnit" transaction-type="RESOURCE_LOCAL">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <class>com.lemuelinchrist.hymns.beans.HymnsEntity</class>
        <class>com.lemuelinchrist.hymns.beans.StanzaEntity</class>
        <properties>
            <property name="eclipselink.jdbc.url"
                      value="jdbc:sqlite:/Users/lemuelcantos/Google Drive/hymnDev/HymnsForAndroidProject/HymnsForAndroid/app/src/main/assets/hymns.sqlite"/>
            <property name="eclipselink.jdbc.driver" value="org.sqlite.JDBC"/>
            <property name="eclipselink.jdbc.user" value=""/>
            <property name="eclipselink.jdbc.password" value=""/>
            <!-- <property name="eclipselink.logging.level" value="ALL" />-->

            <!-- EclipseLink should create the database schema automatically -->
            <!--<property name="eclipselink.ddl-generation" value="create-tables" />-->
            <!--<property name="eclipselink.ddl-generation.output-mode"
                      value="database" />-->
        </properties>
    </persistence-unit>
    <persistence-unit name="newHymns" transaction-type="RESOURCE_LOCAL">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <class>com.lemuelinchrist.hymns.beans.HymnsEntity</class>
        <class>com.lemuelinchrist.hymns.beans.StanzaEntity</class>
        <properties>
            <property name="eclipselink.jdbc.url"
                      value="jdbc:sqlite:/Users/lemuelcantos/Documents/android/HymnsJpa/data/newHymns.sqlite"/>
            <property name="eclipselink.jdbc.driver" value="org.sqlite.JDBC"/>
            <property name="eclipselink.jdbc.user" value=""/>
            <property name="eclipselink.jdbc.password" value=""/>
            <!-- <property name="eclipselink.logging.level" value="ALL" />-->

            <!-- EclipseLink should create the database schema automatically -->
            <property name="eclipselink.ddl-generation" value="create-tables"/>
            <!--<property name="eclipselink.ddl-generation.output-mode"
                      value="database" />-->
        </properties>
    </persistence-unit>
</persistence>